{%extends "layout.html"%}
{%block content%}

    <form action="{{url_for('save')}}" method="post" ENCTYPE="multipart/form-data">
	    <h1>Madura Production Optimisation Tool</h1>
	    <fieldset>
		    <label for="mail">Email</label><input type="email" id="mail" name="mail">
        <label for="MOQ">MOQ</label><input type="text" id="MOQ" name="MOQ">
        <label for="factoryCapacity">Factory Capacity</label><input type="text" id="factoryCapacity" name="factoryCapacity">
        <!-- <label for="Season">Season</label> -->

        <label for="orderSheet">Orders</label> <input type="file" id="orderSheet" name="orderSheet"><br>
        <label for="prefSheet"> Preference Sheet</label> <input type="file" id="prefSheet" name="prefSheet"><br>
	    </fieldset>

		<button type="submit">Submit</button>
    </form>
{%endblock%}
